@import "tailwindcss";

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
    background: var(--color-background);
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
}

.title-small {
    font-size: 1.2rem;
    font-weight: 600;
}